@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&family=Parisienne&display=swap');

// ====================== reset S ======================
*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

button{
  border: none;
  background: none;
}

iframe, img{
  vertical-align: middle;
  border: none;
  width: 100%;
}

html, body, header, section, footer, ul, li, a, h1, h2, h3, h4, h5, h6, p, button, address, strong, em, dl, dt, dd, div, span, input, th, td{
  font-size: 16px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.6em;
  font-style: normal;
  color: inherit;
  box-sizing: border-box;
}

section{
  position: relative;
}

a{
  text-decoration: none;
}

table{
  border-collapse: collapse;
}
// ====================== reset E ======================

// ====================== varibles S ======================
$cl-white : #fff;
$cl-black : #000;

caption, .hidden{
  position:absolute !important;  
  width:1px; 
  height:1px; 
  overflow:hidden;
  clip:rect(1px 1px 1px 1px);
  clip:rect(1px, 1px, 1px, 1px);
}

@mixin absoluteCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

@mixin spliteImage($imgName) {
  background: url("../img/"+$imgName+".png") no-repeat;
  background-position: 0 0;
  background-size: 500%;
}
// ====================== varibles E ======================

// ====================== set S ======================
article{
  padding: 60px;

  .h1{
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 30px 0;
  }

  strong{
    font-weight: 500;
  }

  a{
    color: #d16098;
  }

  p{
    margin: 1em 0;
  }
  
  img{
    margin: 30px auto;
  }
  
  .desc-img{
    color: gray;
    font-size: 85%;
    margin-top: -20px;
    text-align: center;
  }

  .info{
    padding: 35px;
    background-color: rgba(51,169,220,0.1);
    border-left: 0.25em solid #33a9dc;
    color: rgba(0,0,0,0.5);
  }

  pre{
    white-space: pre-wrap;
    margin: 30px -60px;
    background-color: #282a36;

    code{
      position: relative;
      display: block;
      padding: 30px 60px;
      font-size: 90%;
      color: $cl-white;
      
      &::before{
        content: 'code';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        color: rgba(0,0,0,0.5);
        background-color: #f4f1ce;
        height: 1rem;
        padding: 0 0.5rem;
        letter-spacing: 0.1em;
        font-weight: 700;
        font-size: 0.6rem;
        line-height: 1rem;
        text-transform: uppercase;
      }

      &.language-javascript::before{
        content: 'javascript';
        background-color: #6ecd56;
        color: #fff;
      }

      .cm-variable{
        color: #50fa7b;
      }
      .cm-property{
        color: #66d9ef;
      }
      .cm-string{
        color: #f1fa8c;
      }
      .cm-keyword{
        color: #ff79c6;
      }
      .cm-def{
        color: #50fa7b;
      }
      .cm-comment{
        color: #ccc;
      }
      .cm-operator {
        color: #ff79c6;
      }
    }
  }
}
// ====================== set E ======================

// ====================== index S ======================
#boot{
  @include absoluteCenter;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $cl-black;
  z-index: 9;

  .bootImg {
    @include absoluteCenter;
    margin-top: -60px;
    margin-left: 20px;
    width: 386px;
  }

  .progressBar {
    @include absoluteCenter;
    width: 226px;
    height: 28px;
    border: 2px solid $cl-white;
    border-radius: 8px;
    margin-top: 150px;
    overflow: hidden;

    .progress {
      position: absolute;
      display: flex;
      flex-flow: row nowrap;
      margin-left: -60px;

      div {
        width: 18px;
        height: 20px;
        margin-top: 2px;
        margin-left: 2px;
        border-radius: 2px;
        background: linear-gradient( to bottom, #393d6f, #51589a, #7d92ea, #7d92ea, #7d92ea, #7d92ea, #7d92ea, #243aa7, #243aa7, #23338c);
      }
    }
  }

  .copy {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
    color: $cl-white;
  }
}

#newStart {
  height: 100vh;
  background: url(../img/new_start.jpg) no-repeat center;
  background-size: 100% 100%;

  p{
    @include absoluteCenter;
    color: $cl-white;
    font-family: '굴림', sans-serif;
    font-style: italic;
    font-size: 32px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  }
}
// ====================== index E ======================

// ====================== wallPaper S ======================
#wallPaper{
  background-image: url(../img/main.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;

  .icons{
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    height: 90vh;

    li>button{
      display: block;
      width: 80px;
      height: 80px;
      margin: 30px 0 0 20px;
      text-align: center;

      .ico{
        display: inline-block;
        width: 50px;
        height: 50px;
        @include spliteImage(splite_ico);
        vertical-align: top;
      }

      .icoTit{
        color: $cl-white;
        line-height: 30px;
        text-shadow: 1px 1px 2px #000;
      }
    }
  }
}
// ====================== wallPaper E ======================

// ====================== layer S ======================
#layer{
  display: block;
  @include absoluteCenter;
  width: 1200px;
  height: calc(100% - 35px);
  margin-top: -17.5px;
  border: 3px solid #005aeb;
  border-top: none;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  background-color: $cl-white;
  display: none;

  .title{
    height: 32px;
    background-image: url(../img/window_title.png);

    .titText{
      color: $cl-white;
      padding-left: 32px;
      line-height: 32px;

      &::after{
        content: '';
        display: block;
        position: absolute;
        left: 6px;
        top: 6px;
        width: 20px;
        height: 20px;
        @include spliteImage(splite_ico);
      }
    }

    .btns{
      position: absolute;
      right: 3px;
      top: 3px;
      display: flex;
      gap: 3px;

      button{
        display: block;
        width: 26px;
        height: 26px;
        @include spliteImage(splite);

        &:nth-child(1){
          background-position: 0 0;
        }
        &:nth-child(2){
          background-position: -26px 0;
        }
        &:nth-child(3){
          background-position: -78px 0;
        }
      }
    }
  }

  .menu{
    background-color: #f2f4f2;

    .controls{
      height: 42px;
      border-bottom: 2px solid #f1eee6;

      button{
        position: relative;
        width: 40px;
        height: 40px;
        vertical-align: top;

        span{
          display: block;
          text-indent: 35px;
        }

        &.withText{
          width: 80px;
        }

        &::after{
          content: '';
          display: block;
          width: 25px;
          height: 25px;
          @include spliteImage(splite);
          position: absolute;
          left: 8px;
          top: 8px;
        }

        &:nth-child(1)::after{
            background-position: 0 -25px;
        }

        &:nth-child(2)::after{
          background-position: -25px -25px;
        }
      }
    }
    .addressBar{
      height: 24px;
      border-bottom: 2px solid #f1eee6;
      font-size: 0;

      span{
        display: inline-block;
        color: #aaa;
        padding: 0 5px;
        line-height: 22px;
      }
  
      input{
        position: relative;
        width: calc(100% - 131px);
        height: 22px;
        border: 1px solid #84a2bd;
        border-radius: 1px;
        padding-left: 24px;
        @include spliteImage(splite_ico);
        background-size: 9%;
        background-position: 2px 0;
      }

      button{
        position: relative;
        width: 70px;
        line-height: 22px;
        text-indent: 16px;

        &::after{
          content: '';
          display: block;
          position: absolute;
          left: 5px;
          top: 1px;
          width: 20px;
          height: 20px;
          @include spliteImage(splite);
          background-position: -40px -20px;
        }
      }
    }
  }

  #content{
    position: relative;
    width: 100%;
    height: calc(100% - 128px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 20px;

      &-track{
        background-color: #fbfbf8;
      }
      &-thumb{
        border-radius: 4px;
        border-top: 2px solid #e0e7ef;
        border-bottom: 2px solid #e0e7ef;
        background-image: url(../img/thumb.png);
        background-size: 20px 1px;
      }
      &-button{
        @include spliteImage(splite);

        &:start:decrement{
          display: block;
          height: 20px;
          background-position: -80px 0;
        }
        &:end:increment{
          display: block;
          height: 20px;
          background-position: -80px -20px;
        }
      }
    }

    .menuDetail{
      position: fixed;
      left: 0;
      top: 98px;
      width: 220px;
      height: 100%;
      background: linear-gradient( to bottom, #7ba2e7, #6376d6);
    }

    .fileList{
      position: relative;
      left: 220px;
      width: calc(100% - 220px);
      overflow: hidden;
      
      table{
        position: relative;
        width: 100%;

        th, td{
          text-align: left;
          line-height: 20px;
          border-right: 10px solid transparent;

          &:last-child{
            border-right: none;
          }
        }

        th{
          background-image: url(../img/th_bar.png);
          padding-left: 5px;
          padding-bottom: 2px;

          &:nth-child(2){
            text-align: right;
          }
        }

        td{
          line-height: 22px;
          padding-bottom: 0;
          position: relative;

          &:nth-child(1){
            padding-left: 22px;
            background-color: #f7f7f7;

            &::after{
              content: '';
              display: block;
              width: 16px;
              height: 16px;
              position: absolute;
              left: 2px;
              top: 2px;
              @include spliteImage(splite_ico);
              background-position: 0 -16px;
            }
          }

          &:nth-child(2){
            text-align: right;
          }
        }
      }
    }
  }

  .windowBar{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 29px;
    background-image: url(../img/window_bar.png);
  }
}
// ====================== layer E ======================

// ====================== taskBar S ======================
#taskBar{
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 36px;
  background-image: url(../img/bar.png);

  .taskBarInner{
    flex: 1;
    position: relative;
    border-right: 1px solid #136583;

    .start{
      position: relative;
      width: 113px;
      height: 36px;
      background-image: url(../img/start.png);

      &.on{
        background-image: url(../img/start_on.png);
      }

      p{
        font-size: 20px;
        margin-bottom: 4px;
        text-indent: 7px;
        color: $cl-white;
      }
    }

    .taskList{
      position: absolute;
      left: 120px;
      top: 0;
    }
  }

  .toolBox{
    position: relative;
    padding: 0 15px;
    background-image: url(../img/time_bar.png);
    border-left: 2px solid #21c5f6;

    .lang{
      position: absolute;
      left: -32.5px;
      top: 5px;
      display: block;
      width: 25px;
      height: 25px;
      line-height: 22.5px;
      text-align: center;
      color: $cl-white;
      border: 1px solid $cl-white;
      border-radius: 2px;
    }

    .time{
      text-align: center;
      line-height: 35px;
      color: $cl-white;
    }
    
    #calendarClock{
      position: absolute;
      right: 0;
      bottom: 35px;
      width: 400px;
      border: 7px solid #a0d29a;
      background-color: #fff;
      border-radius: 6px;
      padding: 15px;
      display: none;
      
      .today{
        text-align: center;
        margin-bottom: 15px;
        color: #587dd5;
      }
      
      .ccWrap{
        display: flex;
        flex-flow: row wrap;
        
        .calendar{
          width: 60%;

          .title{
            position: relative;
            margin-bottom: 5px;

            .yearMonth{
              display: block;
              width: 100%;
              text-align: center;
            }

            .btn{
              position: absolute;
              top: 0;

              &.prevMonth{
                left: 0;
              }

              &.nextMonth{
                right: 0;
              }
            }
          }

          .content{
            .days{
              display: flex;
              flex-flow: row wrap;
              text-align: center;
              border-bottom: 0.1em solid #ddd;

              .day{
                width: calc(100% / 7);
              }
            }

            .dates{
              display: flex;
              flex-flow: row wrap;
              text-align: center;

              .date{
                width: calc(100% / 7);

                span{
                  display: block;
                  border: 1px solid transparent;
                  line-height: 1.2em;

                  &.other{
                    color: #aaa;
                  }

                  &.curday{
                    display: block;
                    border-color: blue;
                    background-color: skyblue;
                    border-radius: 4px;
                  }
                }
              }
            }
          }
        }
      }

      .clock{
        width: 40%;

        .clockImg{
          width: 100%;
          height: 160px;
          background: url(../img/clock.png) no-repeat center;
          background-size: 95%;
        }

        p{
          text-align: center;
        }
      }
    }
  }
}
// ====================== taskBar E ======================