@mixin font($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin absolute($top, $right, $bottom, $left, $width, $height) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: $width;
  height: $height;
}

@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin ico($wh, $background-positionX, $background-positionY) {
  background: url(../img/ico.png) no-repeat $background-positionX $background-positionY;
  background-size: 500%;
  width: $wh;
  height: $wh;
}

@mixin responsibleWidth() {
  width: 1440px;
  margin: 0 auto;

  @media screen and (max-width: 1457px) {
    width: 100%;
    padding: 0 24px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
