@import "./_reset.scss";
@import "./_variables.scss";
@import "./_mixin.scss";

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;

  > div {
    @include flex(row, space-between, center);
    height: 80px;
    transition-duration: 0.5s;

    > div {
      margin-left: 24px;
      h1 {
        font-family: "Parisienne";
        @include font($xx-large, $x-bold);
        color: $wht;
        transition-duration: 0.5s;
      }
    }

    > ul {
      @include flex(row, center, center);
      gap: 40px;

      li a {
        @include font($medium, $x-bold);
        color: $wht;
        transition-duration: 0.5s;
      }
    }

    > button {
      position: relative;
      width: 32px;
      height: 32px;
      margin-right: 32px;

      &::before,
      &::after {
        content: "";
        background-color: $wht;
        @include absolute(initial, initial, initial, initial, 100%, 2px);
        transition-duration: 0.5s;
      }
      &::before {
        left: 0;
        top: 10px;
      }
      &::after {
        left: 0;
        bottom: 10px;
      }
    }
  }

  &.scrolled {
    // background-color: $wht;
    // > div {
    //   height: 60px;
    // }
    h1 {
      color: $c2;
    }
    ul li a {
      color: $blk;
    }
    button::before,
    button::after {
      background-color: $c2;
    }
  }
}

.floatingBtns {
  @include flex(column, flex-end, flex-end);
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  gap: 8px;

  transition-duration: 0.5s;

  li {
    a {
      position: relative;
      display: block;
      padding: 0 28px;
      width: 0;
      height: 56px;
      border-radius: 28px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      background-color: $c3;
      overflow: hidden;
      transition-duration: 0.5s;

      div {
        @include absolute(14px, initial, initial, 14px, 28px, 28px);
        @include ico(28px, 0, 0);
      }
      p {
        @include absolute(50%, initial, initial, 56px, 100px, initial);
        @include font($large, $bold);
        color: $wht;
        width: 100px;
        transform: translateY(-50%);
      }
    }

    &:hover a {
      width: 150px;
    }

    &.scrollTopBtn {
      position: absolute;
      right: -76px;
      bottom: -66px;
      transition-duration: 0.5s;

      a {
        background-color: #666;
      }
      &:hover a {
        width: initial;
      }
    }
  }

  &.scrolled {
    bottom: 90px;

    .scrollTopBtn {
      right: 0;
    }
  }
}

footer {
  display: none;
  position: relative;
  background-color: #666;
  padding: 50px 0;
  color: $wht;
  @include font($medium, $bold);

  > div {
    @include flex(row, center, stretch);
    @include responsibleWidth;
    gap: 80px;

    div {
      position: relative;
      flex: 1;

      &::after {
        content: "";
        display: block;
        position: absolute;
        right: -40px;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #fff;
      }

      &:nth-child(1) {
        h2 {
          font-family: "Parisienne";
          @include font($xx-large, $x-bold);

          & + p {
            margin-top: 8px;

            & + p {
              margin-top: 32px;
            }
          }
        }
      }
      &:nth-child(2) {
        li {
          margin-top: 4px;
          &:first-child {
            margin-top: 0;
          }
        }
      }
      &:nth-child(3) {
        &::after {
          content: none;
        }

        p {
          font-weight: $x-bold;
        }

        dl {
          @include flex(row, center, stretch);
          flex-wrap: wrap;
          margin-top: 12px;
          border-top: 2px solid $wht;

          dt {
            width: 30%;
            padding: 8px 0;
            border-top: 1px solid $wht;
          }
          dd {
            width: 70%;
            padding: 8px 0;
            border-top: 1px solid $wht;
          }
          dt:nth-child(1),
          dd:nth-child(2) {
            border-top: none;
          }
        }
      }
    }
  }
}
